{{!Adapted from the provided bsg-people.hbs starter code}}
<h1>{{title}}</h1>
<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Character</th>
      <th>Encounter</th>
      <th>Initiative Order</th>
      <th>Initiative Roll</th>
      <th>Current HP</th>
      {{!Our Own Work}}
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
      {{#each characters_encounters}}
        <tr>
          <td>{{displayName}}</td>
          <td>{{nameOfLocation}}</td>
          <td>{{initiativeOrder}}</td>
          <td>{{initiativeRoll}}</td>
          <td>{{currentHitPoint}} / {{maxHitPoint}}</td>
          <td>
            <form method="POST" action="/delete-character-encounter">
              <input type="hidden" name="idCharacterEncounter" value="{{idCharacterEncounter}}">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
  </tbody>
</table>

{{!Our Own Work}}

<<h2>Add New Character Encounter</h2>
<form method="POST" action="/characters_encounters/add">
  Character:
  <select name="idCharacter" required>
    {{#each characters}}
      <option value="{{idCharacters}}">
        {{displayName}} (ID: {{idCharacters}})
      </option>
    {{/each}}
  </select>
  <br><br>
  Encounter:
  <select name="idEncounter" required>
    {{#each encounters}}
      <option value="{{idEncounters}}">
        {{nameOfLocation}} (ID: {{idEncounters}})
      </option>
    {{/each}}
  </select>
  <br><br>
  Initiative Order: <input type="number" name="initiativeOrder" required><br>
  Initiative Roll: <input type="number" name="initiativeRoll" required><br><br>
  <button type="submit">Add Character Encounter</button>
</form>


{{!Our Own Work}}
<h2>Update Character Encounter</h2>
<form method="POST" action="/characters_encounters/update">
  Character Encounter:
  <select name="idCharacterEncounter" required>
    {{#each characters_encounters}}
      <option value="{{idCharacterEncounter}}">
        {{displayName}} at {{nameOfLocation}} (ID: {{idCharacterEncounter}})
      </option>
    {{/each}}
  </select>
  <br><br>
  Initiative Order: <input type="number" name="initiativeOrder" required><br>
  Initiative Roll: <input type="number" name="initiativeRoll" required><br><br>
  <button type="submit">Update Character Encounter</button>
</form>
