{{!
Citation for the encounters handlebar starter code:
Date: 02/12/2026
Source URL: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-web-application-technology-2?module_item_id=26243419
Type: Starter code / application
Author: Oregon State University
Notes:
We used this template for reference
The table structure and form structure for read/create/update/delete were adapted to best match our database, i.e., the delete functionality was adapted to appear as a row-level button within the table instead of a separate form
}}

{{!Adapted from the provided bsg-people.hbs starter code}}
<h1>{{title}}</h1>
<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Location Name</th>
      <th>Location</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
      {{#each encounters}}
        <tr>
          <td>{{nameOfLocation}}</td>
          <td>{{location}}</td>
          <td>
            <form method="POST" action="/encounters/delete" onsubmit="return confirm('Are you sure you want to delete this encounter?')">
              <input type="hidden" name="idEncountersInput" value="{{idEncounters}}">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
  </tbody>
</table>


{{!Our Own Work}}
<h2>Add New Encounter</h2>
<form method="POST" action="/encounters/add">
  Name of Encounter:
  <input type="text" name="nameOfLocationInput" required><br>

  Location:
  <input type="text" name="locationInput" required><br>

  <button type="submit">Add Encounter</button>
</form>


{{!Our Own Work}}
<h2>Update Encounter</h2>
<form method="POST" action="/encounters/update">

  Select Encounter to Edit:
  <select name="idEncountersInput">
    {{#each encounters}}
      <option value="{{idEncounters}}">
        {{idEncounters}} - {{nameOfLocation}}
      </option>
    {{/each}}
  </select>

  <br><br>
  New Encounter Name:
  <input type="text" name="nameOfLocationInput"><br>

  New Location Name:
  <input type="text" name="locationInput"><br>

  <button type="submit">Update Encounter</button>

</form>