{{!Adapted from the provided bsg-people.hbs starter code}}
<h1>{{title}}</h1>
<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Turn ID</th>
      <th>Character</th>
      <th>Encounter</th>
      <th>Action Taken</th>
      {{!-- <th>Round Number</th> --}}
      <th>Action Order</th>
      {{!Our Own Work}}
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
      {{#each turns}}
        <tr>
          <td>{{idTurns}}</td>
          <td>{{displayName}}</td>
          <td>{{nameOfLocation}}</td>
          <td>{{actionTaken}}</td>
          {{!-- <td>{{roundNumber}}</td> --}}
          <td>{{actionOrderInRound}}</td>
          <td>
            <form method="POST" action="/turns/delete">
              <input type="hidden" name="idTurns" value="{{idTurns}}">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
  </tbody>
</table>

{{!Our Own Work}}
<h2>Add New Turn</h2>
<form method="POST" action="/turns/add">
  Select Character Encounter:
  <select name="idCharacterEncounter" required>
    <option value="" disabled selected>Select</option>
    {{#each charEncounters}}
      <option value="{{idCharacterEncounter}}">
        {{displayName}} - {{nameOfLocation}} (ID: {{idCharacterEncounter}})
      </option>
    {{/each}}
  </select>
  <br><br>
  Action Taken: <input type="text" name="actionTaken" required><br>
  Round Number: <input type="number" name="roundNumber" required><br>
  Action Order in Round: <input type="number" name="actionOrderInRound" required><br>
  <button type="submit">Add Turn</button>
</form>


{{!Our Own Work}}
<h2>Update Turn</h2>
<form method="POST" action="/turns/update">
  Select Turn:
  <select name="idTurns" required>
    <option value="" disabled selected>Select Turn</option>
    {{#each turns}}
      <option value="{{idTurns}}">
        {{displayName}} - {{nameOfLocation}} (Turn ID: {{idTurns}})
      </option>
    {{/each}}
  </select>
  <br><br>
  Action Taken: <input type="text" name="actionTaken" required><br>
  Round Number: <input type="number" name="roundNumber" required><br>
  Action Order in Round: <input type="number" name="actionOrderInRound" required><br>
  <button type="submit">Update Turn</button>
</form>
